html {
    font-family: sans-serif;
    font-size: 16px;
}


body {
    max-width: 32rem;
    margin: 0 auto;
    padding: 1rem;
    background: #efefef;
}

.container {
    background: #fff;
    box-shadow:0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    padding: 1rem;
    border-radius: 4px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form label, button {
    margin-top: 2rem;
}


.form input {
    padding: 0.667rem;
    border-radius: 50px;
    border: 1px solid #efefef;
    margin-top: 0.5rem;
}

.form input:focus {
    border-radius: 50px;
    border-color: cornflowerblue;
    outline: none;
}

.title {
    margin: 0;
    font-weight: normal;
    font-size: 150%;
    color: #6363cf;
    text-align: center;
}

.mtop-1 {
    margin-top: 1rem;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form-button {
    background: #6363cf;
    padding: 0.667rem;
    border: 0;
    color: #fff;
    border-radius: 4px;
    box-shadow:0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    text-transform: uppercase;
}

a.form-button {
    text-decoration: none;
}

.form-button:hover {
    transform: translateY(-1px);
    background: #6772e5;
}


.game-table {
    width: 100%;
    margin-top: 1rem;
}

.game-table td, tr, table {
    border: 1px solid #efefef;
}

.game-table td {
    width: 33.33%;
    line-height: 3.7;
    font-size: 42px;
    text-align: center;
}

.game-table .team-x {
    background: red;
    color: white;
}

.game-table .team-o {
    background: #6772e5;
    color: white;
}

.error-message {
    margin: 0.75rem;
    color: #c33c3c;
    text-align: center;
}

.message.secondary {
    margin: 0.75rem;
    color: #161616;
    text-align: center;
}
